<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} %X{session} %X{cuit} --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
        <Property name="LOG_FILE_PATH">C:/logs/fullstack.log</Property> <!-- Ruta en el disco C -->
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="${LOG_FILE_PATH}"
                     filePattern="${LOG_FILE_PATH}-%d{yyyy-MM-dd}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>